
@{
    ViewData["Title"] = "HomePage";
}
<div class="homepg">
<h1>Contacts Task</h1>

<div class="form-text" id="content">
    <h1>choose what you want to Do :</h1>
    <a asp-action="AllContact" asp-controller="Contact" class="btn btn-outline-info">Get All Contact</a>
    <a asp-action="Create" asp-controller="Contact" class="btn btn-outline-info">Create New Contact</a>
</div>
</div>

