html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
  
    background-color: rgb(0, 150, 255,0.3);
  
}
#content {
    text-align:center;
}
.allcon h3{
    color:darkred;
}
.allcon, .edt,.updt h1, h3 {
    text-align: center;
    
    
}
.dropdown{
    margin:20px;
}
.allcon a[asp-action='Create']:hover {
    rgb(0, 150, 255,0.6);
}
.homepg h1{
    text-align:center;
}
.allcon h1 {
    background-color:rgb(0, 150, 255);
}
.createpg h1 {
    text-align: center;
    background-color: rgb(0, 150, 255);
}
